<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.scorpiomiku.cloudclass">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:name=".CloudClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".modules.activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".modules.activity.MainActivity"
            android:label="@string/title_activity_main" />
        <activity
            android:name=".modules.activity.cloudclass.CloudClassActivity"
            android:label="@string/title_activity_cloud_class" />
        <activity android:name=".modules.activity.RegisterActivity" />
        <activity android:name=".modules.activity.cloudclass.CreateCourseActivity" />
        <activity android:name=".modules.activity.cloudclass.AddCourseDetialActivity" />
        <activity android:name=".modules.activity.cloudclass.UpFileActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.scorpiomiku.cloudclass.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".modules.activity.cloudclass.SignRecordActivity" />
        <activity android:name=".modules.activity.cloudclass.SignMemberListActivity" />
        <activity android:name=".modules.activity.cloudclass.AddInformActivity" />
        <activity android:name=".modules.activity.cloudclass.StudentDetailActivity"></activity>
    </application>

</manifest>